.parcel-form {
	padding: 30px 0;
}

.form-group {
	display: flex;
	margin-bottom: 20px;
}

.form-title {
	color: #fff;
	font-size: 18px;
	margin-right: 30px;
	width: 200px;
}

.form-control {
	width: 200px;
	height: 42px;
	padding: 0 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}